<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Tiny Url : your solution for large urls</title>
    <!-- <link rel="shortcut icon" href="/css/favicon.ico" /> -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.lineicons.com/3.0/lineicons.css"> 
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/73e276721d.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar justify-content-center sticky-top navbar-dark bg-dark">
      <div class="container justify-content-between ">
        <a class="navbar-brand" href="/">Tiny Url</a>
        <a class="nav-link logout" href="/">logout</a>
      </div>
    </nav>

<div class="jumbotron text-center justify-content-center">
  <div class="container justify-content-center">
    <h1><%=name%>'s Short Url's</h1>
    <form action="/shortUrl" method="post" class="my-4 form-inline">
      <label for="fullUrl" class="sr-only">URL</label>
      <input
        required
        placeholder="Enter your link here !!"
        type="url"
        name="fullUrl"
        id="fullUrl"
        class="form-control mr-2 col"
      />
      <button class="btn btn-success" type="submit" name="id" value="<%=id%>">
        shrink
      </button>
    </form>

    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th>Your Full Url</th>
          <th>Your shrinked Url</th>
          <th>Clicks</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% userdata.forEach(shortUrl => { %>
        <tr>
          <form action="/delete" method="post">
            <td><a href="<%= shortUrl.full%>"><%= shortUrl.full%></a></td>
            <td>
              <a href="<%= id+'?'+shortUrl.short%>" target="_blank"
                ><%= shortUrl.short%></a
              >
            </td>
            <td><%= shortUrl.clicks%></td>
            <td>
              <input name="userid" type="hidden" value="<%=id%>" />
              <button
                class="btn btn-danger"
                type="submit"
                name="deleteItem"
                value="<%=shortUrl._id%>"
              >
                Delete
              </button>
            </td>
          </form>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>

<%- include('footer') %>
